:root {
  --primary-color: #171925;
  --pink-color: #e6007e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro';
  color: white;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
